<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <button class="back-button" onclick="location.href='/'">Back to code</button>
  <header>
    <h1 style="text-align: center;">5 prizes left out of 5</h1>
  </header>
  <h1 style="color:white; font-size: 40px;">You cleared Part 2. Come here!</h1>
  <h1 style="color:white; font-size: 40px;">https://open.kakao.com/o/s8exOy7e</h1>
  <div class="input-container">
    <p class="answer-letter">1</p>
    <p class="answer-letter">7</p>
    <p class="answer-letter">9</p>
    <p class="answer-letter">2</p>
  </div>
  
</body>
</html>
