<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <button class="back-button" onclick="location.href='/'">Back to code</button>
  <header>
    <h1 style="text-align: center;">10 prizes left out of 10</h1>
  </header>
  <h1 style="color:white; font-size: 40px;">You cleared Part 1. Come here!</h1>
  <h1 style="color:white; font-size: 40px;">https://open.kakao.com/o/sn8bIx7e</h1>
  <div class="input-container">
    <p class="answer-letter">6</p>
    <p class="answer-letter">4</p>
    <p class="answer-letter">8</p>
    <p class="answer-letter">8</p>
  </div>
  
</body>
</html>
