<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <img src="/images/종인.jpg" style="width:645px; height:1050px;">
  <h1 style="color:white;">We will Remeber him</h1>
  <iframe src="audio/jongin.mp3" allow="autoplay" id="audio" style="opacity: 0;"></iframe>
  <script>
    document.addEventListener('keydown', function(event) {
        if (event.key === 'x' || event.key === 'X') {
            alert('당신은 조의를 표했습니다!');
        }
        });
  </script>
  
</body>
</html>
