<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <button class="back-button" onclick="location.href='/problem'">Back to problems</button>
  <header>
    <h1 style="text-align: center;">Cookie factory</h1>
  </header>

  <input type="image" class="cookie_button" src="/images/cookie-icon.png" onclick="getCookie()">
  <h1 id="cookie_count">0</h1>
  <button onclick="checkCoockieCount()">SEND</button>
  <audio id="sound" src="../audio/crunch2.mp3"></audio>
  <script src="http://54.83.101.17:3000/js/setting.js"></script>
  <script src="http://54.83.101.17:3000/js/cookie_setting.js"></script>
</body>
</html>
