<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <button class="back-button" onclick="location.href='/problem'">Back to problems</button>
  <header>
    <h1 style="text-align: center;">Go to the Unity</h1>
  </header>
  <button onclick="location.href='/unity'">Unity</button>
  <form action="/problem/check" method="post">
    <input type="hidden" name="number" value="6">
    <div class="input-container">
      <input class="input-letter" name="a" maxlength="1" oninput="numberMaxLength(this);">
      <input class="input-letter" name="b" maxlength="1" oninput="numberMaxLength(this);">
      <input class="input-letter" name="c" maxlength="1" oninput="numberMaxLength(this);">
      <input class="input-letter" name="d" maxlength="1" oninput="numberMaxLength(this);">
      <input class="input-letter" name="e" maxlength="1" oninput="numberMaxLength(this);">
      <input type="submit" value="SEND">
    </div>
  </form>
  <script src="http://54.83.101.17:3000/js/setting.js"></script>
</body>
</html>
