<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <button class="back-button" onclick="location.href='/problem'">Back to problems</button>
  <header>
    <h1 style="text-align: center;">○●○</h1>
  </header>
  <h1 class="tree_example">●○○ = 1 2 4 8 12 9 5 10 11 3 6 7</h1>
  <h1 class="tree_example">○○● = 1 2 8 9 4 10 11 5 2 6 7 3 1</h1>
  <form action="/problem/check" method="post">
    <input type="hidden" name="number" value="7">
    <div class="input-container">
      <input class="input-letter" name="a" maxlength="2">
      <input class="input-letter" name="b" maxlength="2">
      <input class="input-letter" name="c" maxlength="2">
      <input class="input-letter" name="d" maxlength="2">
      <input class="input-letter" name="e" maxlength="2">
      <input class="input-letter" name="f" maxlength="2">
      <input class="input-letter" name="g" maxlength="2">
      <input class="input-letter" name="h" maxlength="2">
      <input class="input-letter" name="i" maxlength="2">
      <input class="input-letter" name="j" maxlength="2">
      <input class="input-letter" name="k" maxlength="2">
      <input class="input-letter" name="l" maxlength="2">
      <input type="submit" value="SEND">
    </div>
  </form>
  <script src="http://54.83.101.17:3000/js/setting.js"></script>
  <script src="http://54.83.101.17:3000/js/cookie_setting.js"></script>
</body>
</html>
