body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

.title{
  position: absolute;
  top: 100px;
  left: 10px;
}


.logo-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.logo{
  width: 100px;
  height: 100px;
  margin: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
}
.input-letter {
  background-color: black;
  color:green;
  width: 40px;
  height: 40px;
  border: none;
  border-bottom: 5px solid white;
  text-align: center;
  margin: 20px;
  font-size: 32px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border: 5px solid white;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 24px;
}

.answer-letter {
  background-color: black;
  color:white;
  width: 80px;
  height: 80px;
  border: none;
  border-bottom: 5px solid white;
  text-align: center;
  margin: 20px;
  font-size: 64px;
}

.problem-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1040px;
}

.problem-buttons button {
  width: 250px;
  height: 100px;
  margin: 5px;
}

.cookie_button {
  filter: opacity(0.9) drop-shadow(0 0 0 white) brightness(5); 
}

#cookie_for_admin {
  width:100px; height:100px;
}

