<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/problem.css">
</head>
<body>
  <button class="back-button" onclick="location.href='/problem'">Back to problems</button>
  <header>
    <h1 style="text-align: center;">Correct!</h1>
  </header>
  <div class="input-container">
    <p class="answer-letter">7</p>
    <p class="answer-letter"></p>
    <p class="answer-letter"></p>
    <p class="answer-letter"></p>
  </div>
  <h1 style="color:white; font-size: 40px;">If you completed the code, 'type the code'</h1>
</body>
</html>
