<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
</head>
<body>
  <form action="/code" method="post">
    <input type="text" class="input-box" name="code" placeholder="Type the code" maxlength="10">
    <input type="submit" value="SEND">
  </form>
  <script>
    const user = navigator.userAgent;
    if (/mobile|android/i.test(user)) {
      alert('You are accessing this page on a mobile device. Some features may not work as expected.');
    }
  </script>
</body>
</html>
