<!DOCTYPE html>
<html>
<head>
	<title>Tree Visual</title>
	<!-- <style>
		/* Style for the boxes */
		.box {
			display: inline-block;
			width: 60px;
			height: 60px;
			background-color: #72BF44;
			color: white;
			text-align: center;
			line-height: 60px;
			font-weight: bold;
			margin: 10px;
		}

		/* Style for the lines */
		.line {
			display: inline-block;
			border-left: 2px solid black;
			height: 60px;
			margin-left: -1px;
		}

		/* Style for the first line */
		.first-line {
			margin-top: 30px;
		}
	</style> -->
</head>
<body>
	<div style="width:100px; height:100px;"></div>
</body>
</html>
